<ul class="list-group list-group-flush">
  <li class="list-group-item">Código: <%= coupon.code %> <%= coupon.title %></li>
  <% if coupon.active? %>
    <li class="list-group-item"> <%= link_to 'Desativar cupom', inactivate_coupon_path(coupon), method: :post %></li>
    <% else %>
    <li class="list-group-item"><%= link_to 'Reativar cupom', reactivate_coupon_path(coupon), method: :post, class: "ls-btn-primary" %></li>
  <% end %>
</ul>