<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/marisnner7"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/marianne-aguiar-dev/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.marianneag.dev/"><i class="fas fa-blog"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
